@model BaseballUa.ViewModels.EventViewModel

@{
    ViewData["Title"] = "Detail Event";
}

<h1>Деталі турніру</h1>

<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.Sport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Sport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.CategoryShortName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.CategoryShortName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.IsAnual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.IsAnual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.IsInternational)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.IsInternational)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.IsOfficial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.IsOfficial)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.IsFun)
        </dd>

    </dl>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Description)
        </dd>
    </dl>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>



    </dl>
</div>
<div>
    <a asp-action="EditEvent" asp-route-id="@Model?.EventViewModelId">Редагувати</a> |
    <a asp-action="ListSchemaItems" asp-route-eventId="@Model?.EventViewModelId">Дивитись схему турніру</a>
</div>
<div class="mt-5">
    <a asp-action="ListEvents">Повернутися до списку</a>
</div>
