@using BaseballUa.ViewModels;
@model List<BaseballUa.ViewModels.NewsVM>

@{
    ViewData["Title"] = "Videos news";
}

<h1>Новини, що підходять ВСІМ умовам:</h1>
<div class="row">
    <div class="row">
        <div class="col-2">
            Спорт:
        </div>
        <div class="col-2">
            @if (ViewBag.sportType == null)
            {
                <label>Будь який</label>
            }
            else
            {
                <label>@ViewBag.sportType</label>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Глобального розповсюдження:
        </div>
        <div class="col-2">
            @if (ViewBag.isGeneral == null)
            {
                <label>Не має значення</label>
            }
            else
            {
                <label>@ViewBag.isGeneral</label>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Належить до турніру:
        </div>
        <div class="col-2">
            @if (ViewBag.eventt == null)
            {
                <label>Будь якого</label>
            }
            else
            {
                if (ViewBag.eventt.Tournament != null)
                {
                    <label>@ViewBag.Eventt.Tournament.Name | </label>
                }
                <label>@ViewBag.eventt.Year</label>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Категорія:
        </div>
        <div class="col-2">
            @if (ViewBag.category == null)
            {
                <label>Будь яка</label>
            }
            else
            {
                <label>@ViewBag.category.Name</label>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Команда:
        </div>
        <div class="col-2">
            @if (ViewBag.team == null)
            {
                <label>Будь яка</label>
            }
            else
            {
                <label>@ViewBag.team.Name</label>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Педжинейшн:
        </div>
        <div class="col-2">
            @if (ViewBag.lastDate == null)
            {
                <label>Будь яка дата</label>
            }
            else
            {
                <label>
                    Новини не пізніше: @ViewBag.lastDate
                </label>
            }
        </div>
        <div class="col-2">
            @if (ViewBag.lastId == null)
            {
                <label>ID не меньше:</label>
            }
            else
            {
                <label>
                    Новини не пізніше: @ViewBag.lastId
                </label>
            }
        </div>
    </div>
</div>

<p>
@*    <a asp-action="AddNews" asp-route-sportType="@ViewBag.sportType"
                            asp-route-isGeneral="@ViewBag.isGeneral"
                            asp-route-eventId=@ViewBag.eventt?.Id
                            asp-route-categoryId=@ViewBag.category?.Id
                            asp-route-teamId=@ViewBag.team?.Id
                            asp-route-lastDate=@ViewBag.lastDate
                            asp-route-lastId=@ViewBag.lastId
                            asp-route-amount=@ViewBag.amount>
        Додати новину
    </a>*@
    <a asp-action="AddNews"t>Додати новину</a>

</p>

@if (Model == null || Model.Count == 0)
{
    <div class="row m-1">
        <h4>
            Пусто
        </h4>
    </div>
} 
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().SportType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().IsGeneral)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().PublishDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new EventViewModel().Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new TournamentViewModel().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new CategoryViewModel().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new TeamViewModel().Name)
                </th>
                <th>
                    Альбоми
                </th>
                <th>
                    Фотки у заголовку
                </th>
                <th>
                    Відео
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SportType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsGeneral)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishDate)
                    </td>
                    <td>
                        @if(item.Event != null)
                        @Html.DisplayFor(modelItem => item.Event.Year)
                    </td>
                    <td>
                        @if(item.Event != null && item.Event.Tournament != null)
                        {
                            @Html.DisplayFor(modelItem => item.Event.Tournament.Name)
                        }
                    </td>
                    <td>
                        @if (item.Category != null)
                        {
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        }
                    </td>
                    <td>
                        @if (item.Team != null)
                        {
                            @Html.DisplayFor(modelItem => item.Team.Name)
                        }
                    </td>
                    <td>
                        <a asp-action="ListAlbums" asp-route-newsId="@item.Id">Подивитися</a>
                    </td>
                    <td>
                        <a asp-action="ListPhotos" asp-route-newsId="@item.Id">Подивитися</a>
                    </td>
                    <td>
                        <a asp-action="ListVideos" asp-route-newsId="@item.Id">Подивитися</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

