@model IEnumerable<BaseballUa.ViewModels.TournamentViewModel>

@{
    ViewData["Title"] = "List Tournament types";
}

<h1>Типи змагань</h1>

<p>
    <a asp-action="CreateTournament">Створити новий тип</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAnual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInternational)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOfficial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAnual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInternational)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOfficial)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CategoryShortName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
