@model IEnumerable<BaseballUa.ViewModels.Custom.GameWithTeamsViewModel>

@{
    ViewData["Title"] = "ListGames";
}

<h1>Список ігор для блока @ViewData["schemaGroupId"]</h1>

<p>
    <a asp-action="AddGame" asp-route-schemaGroupId="@ViewData["schemaGroupId"]">Додати нову ігру до цього блока турніру</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.AdditionalInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.RunsVisitor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.RunsHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.PlacedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.HalfinningsPlayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.GameStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.PointsVisitor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.PointsHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.Tour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.ConditionVisitor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.ConditionHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.SchemaGroupId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.VisitorTeam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Game.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Game.StartDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Game.AdditionalInfo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Game.RunsVisitor)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Game.RunsHome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Game.PlacedAt)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Game.HalfinningsPlayed)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Game.GameStatus)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Game.PointsVisitor)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Game.PointsHome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Game.Tour)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Game.ConditionVisitor)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Game.ConditionHome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Game.SchemaGroupId)
            </td>
            <td>
                    @{
                        if (item.HomeTeam != null)
                        {
                            <img src="~/images/team/logosmall/@item.HomeTeam.FnameLogoSmall" />
                        }
                        else
                        {
                            <label> ??? </label>    
                        }
                    }

                    
            </td>
            <td>
                    @{
                        if(item.VisitorTeam != null)
                        {
                            <img src="~/images/team/logoSmall/@item.VisitorTeam.FnameLogoSmall" />
                        }
                        else
                        {
                            <label> ??? </label>
                        }
                    }
                    
            </td>
            <td>
               @* <a asp-action="Edit" asp-route-id="@item.GameViewModelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GameViewModelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GameViewModelId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
