@using BaseballUa.Data;
@model BaseballUa.ViewModels.Custom.EditVideoVM

@{
    ViewData["Title"] = "Edit Video";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateVideo">
            @Html.AntiForgeryToken()
            @if(Model.Video != null)
            {
                var formModel = Model.Video;
                <input type="hidden" asp-for="@formModel.Id" value="@formModel.Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@formModel.SportType" class="control-label"></label>
                    @Html.DropDownListFor(c => formModel.SportType, Model.SportTypeSL, optionLabel: "--- оберіть ---")
                    @Html.ValidationMessageFor(c => formModel.SportType, "", new { @class = "text-danger" })
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@formModel.IsGeneral" value="@formModel.IsGeneral" /> @Html.DisplayNameFor(model => formModel.IsGeneral)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="@formModel.Name" class="control-label"></label>
                    <input asp-for="@formModel.Name" class="form-control" value="@formModel.Name" />
                    <span asp-validation-for="@formModel.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@formModel.Description" class="control-label"></label>
                    <input asp-for="@formModel.Description" class="form-control" value="@formModel.Description" />
                    <span asp-validation-for="@formModel.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@formModel.Fname" class="control-label"></label>
                    <input asp-for="@formModel.Fname" class="form-control" value="@formModel.Fname" />
                    <span asp-validation-for="@formModel.Fname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@formModel.PublishDate" class="control-label"></label>
                    <input asp-for="@formModel.PublishDate" class="form-control" value="@formModel.PublishDate" />
                    <span asp-validation-for="@formModel.PublishDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@formModel.NewsId" class="control-label"></label>
                    @Html.DropDownListFor(c => formModel.NewsId, Model.NewsSL, optionLabel: "--- оберіть ---")
                    @Html.ValidationMessageFor(c => formModel.NewsId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="@formModel.CategoryId" class="control-label"></label>
                    @Html.DropDownListFor(c => formModel.CategoryId, Model.CategorySL, optionLabel: "--- оберіть ---")
                    @Html.ValidationMessageFor(c => formModel.CategoryId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="@formModel.TeamId" class="control-label"></label>
                    @Html.DropDownListFor(c => formModel.TeamId, Model.TeamSL, optionLabel: "--- оберіть ---")
                    @Html.ValidationMessageFor(c => @formModel.TeamId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="@formModel.GameId" class="control-label"></label>
                    @Html.DropDownListFor(c => formModel.GameId, Model.GameSl, optionLabel: "--- оберіть ---")
                    @Html.ValidationMessageFor(c => formModel.GameId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Додати" class="btn btn-primary" />
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

