@model BaseballUa.ViewModels.NewsVM;

@{
    ViewData["Title"] = "Add Photos to News";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>Додати фотки до заголовка новини:</h1>

<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-3">
                Заголовок:
            </div>
            <div class="col-3">
                @Model.Title
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Дата публікації:
            </div>
            <div class="col-3">
                @Model.PublishDate
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Турнір:
            </div>
            <div class="col-3">
                @if (Model.Event != null)
                {
                    <label>@Model.Event.Year </label>
                    if (Model.Event.Tournament != null)
                    {
                        <label>@Model.Event.Tournament.Name</label>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Категорія:
            </div>
            <div class="col-3">
                @if (Model.Category != null)
                {
                    <label>@Model.Category.Name</label>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Команда:
            </div>
            <div class="col-3">
                @if (Model.Team != null)
                {
                    <label>@Model.Team.Name</label>
                }
            </div>
        </div>
    </div>

    <hr />

    <form action="AddPhotosToNews"
          enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;"
          method="post">
        <dl>
            <dt>
                <label for="FileUpload_FormFile">1. Виберіть файл:</label>
            </dt>
            <dd>
                <input type="hidden" name="NewsId" value="@Model.Id" />
                <input type="file"
                       name="formFiles" multiple />
            </dd>
        </dl>
        
        <label>2. Нажміть:</label>
        <input class="btn btn-primary" type="submit" value="Завантажити" />
        <div>
            <label>3. Зачекайте появи відповіді про успішне завантаження:</label>
        </div>
        <div style="margin-top:15px">
            <label>Результат: </label>
            <output class="h4 text-warning" name="result"></output>
        </div>


    </form>

    <a asp-action="ListTitlePhotos" asp-route-newsId="@Model.Id">Подивитися фотки у загловку новини</a>
</div>


<script>
    async function AJAXSubmit(oFormElement) {
        var resultElement = oFormElement.elements.namedItem("result");
        const formData = new FormData(oFormElement);

        try {
            const response = await fetch(oFormElement.action, {
                method: 'POST',
                body: formData
            });
            if (response.ok) {
                resultElement.value = "Success";
            }
            else {
                resultElement.value = "Something went wrong";
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>
