@model BaseballUa.ViewModels.Custom.AddPhotosToNews

@{
    ViewData["Title"] = "Add Photos to News";
}

<h1>Додати фотки до заголовка новини:</h1>

<div class="row">
    <div class="row">
        <div class="col-3">
            Заголовок:
        </div>
        <div class="col-3">
            @Model.News.Title
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Дата публікації:
        </div>
        <div class="col-3">
            @Model.News.PublishDate
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Турнір:
        </div>
        <div class="col-3">
            @if (Model.News.Event != null)
            {
                <label>@Model.News.Event.Year </label>
                if (Model.News.Event.Tournament != null)
                {
                    <label>@Model.News.Event.Tournament.Name</label>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Категорія:
        </div>
        <div class="col-3">
            @if (Model.News.Category != null)
            {
                <label>@Model.News.Category.Name</label>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Команда:
        </div>
        <div class="col-3">
            @if (Model.News.Team != null)
            {
                <label>@Model.News.Team.Name</label>
            }
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPhotosToNews">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="News.Id" value="@Model.News.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PhotoIds" class="control-label"></label>
                @Html.ListBoxFor(c => Model.PhotoIds, Model.PhotosMSL, new {size = 50});
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
