@using BaseballUa.Data;
@model BaseballUa.ViewModels.PhotoVM

@{
    ViewData["Title"] = "Add Photo";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<div class="container-fluid">
    <h1>Додати фото до альбому (@ViewBag.album.Name | @ViewBag.album.PublishDate )</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form action="UploadPhoto"
                  enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;"
                  method="post">
                <dl>
                    <dt>
                        <label for="FileUpload_FormFile">1. Виберіть файл:</label>
                    </dt>
                    <dd>
                        <input type="hidden" name="AlbumId" value="@Model.AlbumId" />
                        <input type="file"
                               name="formFiles" multiple />
                    </dd>
                </dl>
                <label>2. Нажміть:</label>
                <input class="btn btn-primary" type="submit" value="Завантажити" />
                <div>
                    <label>3. Зачекайте появи відповіді про успішне завантаження:</label>
                </div>
                <div style="margin-top:15px">
                    <label>Результат: </label>
                    <output class="h4 text-warning" name="result"></output>
                </div>
            </form>

            <a class="btn btn-primary" asp-action="NavigationAddPhoto" asp-route-navGameId="@ViewBag.navGameId"
               asp-route-navTeamId="@ViewBag.navTeamId"
               asp-route-navNewsId="@ViewBag.navNewsId"
               asp-route-navAlbumId="@Model.AlbumId">Прийняти</a>
        </div>
    </div>
</div>



<script>
    async function AJAXSubmit(oFormElement) {
        var resultElement = oFormElement.elements.namedItem("result");
        const formData = new FormData(oFormElement);

        try {
            const response = await fetch(oFormElement.action, {
                method: 'POST',
                body: formData
            });

            //if (response.ok) {
            //    window.location.href = '/';
            //}
            if (response.ok)
            {
                resultElement.value = "Success";
            }
            else 
            {
                resultElement.value = "Something went wrong";
            }
            //resultElement.value = 'Result: ' + response.status + ' ' +
            //    response.statusText;
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>