@using BaseballUa.Data;
@model BaseballUa.ViewModels.TeamViewModel

@{
    ViewData["Title"] = "Add Team";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>Додати команду до клубу</h1>

<hr />
<div class="row m-2">
    <div class="col-md-4">
        <form asp-action="AddTeam">
            @Html.HiddenFor(c => Model.ClubId)
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SportType" class="control-label"></label>
                @Html.DropDownListFor(t => Model.SportType, Enums.SportType.NotDefined.ToSelectList(), optionLabel: "--- оберіть ---", htmlAttributes: new { @class="form-control"})
                <span asp-validation-for="SportType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @*<input asp-for="Description" class="form-control" />*@
                <textarea id="tiny" name="Description">@Model.Description</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @Html.HiddenFor(c => Model.FnameLogoSmall)
            @Html.HiddenFor(c => Model.FnameLogoBig)
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsTemp" /> @Html.DisplayNameFor(model => model.IsTemp)
                </label>
            </div>
            <div class="form-group m-1">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-action="ListTeams" asp-route-clubId="@Model.ClubId">Повернутися до списку команд клубу</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.tiny.cloud/1/oqs1eylkidxzi20ndo35b2is45btormghbcnupoxrkz9uvqu/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tiny',
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist checklist outdent indent | removeformat | code table help'
        })
    </script>
}
