@using BaseballUa.Data;
@model BaseballUa.ViewModels.GameViewModel;

@{
    ViewData["Title"] = "Edit Game";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<div class="row m-2">
    <div class="col-md-4">
        <form asp-action="UpdateGame">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SchemaGroupId" value="@Model.SchemaGroupId" />
            <input type="hidden" asp-for="GameViewModelId" value="@Model.GameViewModelId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control"/>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalInfo" class="control-label"></label>
                <input asp-for="AdditionalInfo" class="form-control" />
                <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
            </div>
        <div class="form-group m-1">
                <label asp-for="RunsVisitor" class="control-label"></label>
                <input class="bg-warning form-control" asp-for="RunsVisitor" />
                <span asp-validation-for="RunsVisitor" class="text-danger"></span>
            </div>
        <div class="form-group m-1">
                <label asp-for="RunsHome" class="control-label"></label>
                <input class="bg-warning form-control" asp-for="RunsHome" />
                <span asp-validation-for="RunsHome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacedAt" class="control-label"></label>
                <input asp-for="PlacedAt" class="form-control" />
                <span asp-validation-for="PlacedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HalfinningsPlayed" class="control-label"></label>
                <input asp-for="HalfinningsPlayed" class="form-control" />
                <span asp-validation-for="HalfinningsPlayed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameStatus" class="control-label"></label>
                @Html.DropDownListFor(x => Model.GameStatus, (SelectList)ViewBag.StatusList, optionLabel: "--- оберіть ---", htmlAttributes: new { @class = "form-control bg-warning"})
                <span asp-validation-for="GameStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointsVisitor" class="control-label"></label>
                <input asp-for="PointsVisitor" class="form-control" value="@Model.PointsVisitor" />
                <span asp-validation-for="PointsVisitor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointsHome" class="control-label"></label>
                <input asp-for="PointsHome" class="form-control" value="@Model.PointsHome" />
                <span asp-validation-for="PointsHome" class="text-danger"></span>
            </div>
            <div class="form-group m-1">
                <label asp-for="Tour" class="control-label"></label>
                @Html.DropDownListFor(x => Model.Tour, (SelectList)ViewBag.TourList, optionLabel: "--- оберіть ---", htmlAttributes: new { @class = "form-control"})
                <span asp-validation-for="Tour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConditionVisitor" class="control-label"></label>
                <input asp-for="ConditionVisitor" class="form-control" value="@Model.ConditionVisitor" />
                <span asp-validation-for="ConditionVisitor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConditionHome" class="control-label"></label>
                <input asp-for="ConditionHome" class="form-control" value="@Model.ConditionHome" />
                <span asp-validation-for="ConditionHome" class="text-danger"></span>
            </div>
            <div class="form-group m-1">
                <label asp-for="VisitorTeamId" class="control-label"></label>
                @Html.DropDownListFor(x => Model.VisitorTeamId, (SelectList)ViewBag.visitorTeamsList, optionLabel: "--- оберіть ---", htmlAttributes: new { @class = "form-control"} )
                <span asp-validation-for="VisitorTeamId" class="text-danger"></span>
            </div>
            <div class="form-group m-1">
                <label asp-for="HomeTeamId" class="control-label"></label>
                @Html.DropDownListFor(x => Model.HomeTeamId, (SelectList)ViewBag.homeTeamsList, optionLabel: "--- оберіть ---", htmlAttributes: new { @class = "form-control"} )
                <span asp-validation-for="HomeTeamId" class="text-danger"></span>
            </div>

            <div class="form-group m-1">
                <input type="submit" value="Done" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
