@model IEnumerable<BaseballUa.ViewModels.EventSchemaItemViewModel>

@{
    ViewData["Title"] = "ListSchemaItems";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>ListSchemaItems</h1>
<h3>@ViewData["tournamentName"]</h3>
<p>
    <a class="btn btn-primary" asp-action="AddSchemaItem" asp-route-eventId="@ViewData["eventId"]">Додати блок до турніру</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchemaItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchemaItem)
            </td>
            <td>
                <div class="m-1">
                    <a class="btn btn-primary" asp-action="ListSchemaGroups" asp-route-eventSchemaItemId="@item.EventSchemaItemViewModelId">Подивитися групи</a>
                </div>
                <div class="m-1">
                    <a class="btn btn-warning" asp-action="EditSchemaItem" asp-route-eventSchemaItemId="@item.EventSchemaItemViewModelId">Редагувати</a>
                </div>
                <div class="m-1">
                    <a class="btn btn-danger" asp-action="DeleteSchemaItem" asp-route-eventSchemaItemId="@item.EventSchemaItemViewModelId">Видалити</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
