@model IEnumerable<BaseballUa.ViewModels.CountryViewModel>

@{
    ViewData["Title"] = "List Countries";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>Список країн</h1>

<p>
    <a asp-action="AddCountry">Додати країну</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FnameFlagSmall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FnameFlagBig)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FnameFlagSmall)
                <img src="~/images/country/flagSmall/@item.FnameFlagSmall" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FnameFlagBig)
                <img src="~/images/country/flagBig/@item.FnameFlagBig" />
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="EditCountry" asp-route-countryId="@item.Id">Редагувати</a>
            </td>
        </tr>
}
    </tbody>
</table>
