@model IEnumerable<BaseballUa.ViewModels.SchemaGroupViewModel>

@{
    ViewData["Title"] = "List Schema Groups";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

@ViewBag.EventSchemaItem.Event.Tournament.Name
@ViewBag.EventSchemaItem.Event.Year

<h1>Список груп для @ViewBag.EventSchemaItem.SchemaItem</h1>

<p>
    <a class="btn btn-primary" asp-action="AddSchemaGroup" asp-route-eventSchemaItemId="@ViewBag.EventSchemaItem.EventSchemaItemViewModelId">Додати групу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventSchemaItemId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventSchemaItemId)
            </td>
            <td>
                <div>
                    <a class="btn btn-primary" asp-action="ListGames" asp-route-schemaGroupId="@item.Id">Ігри в групі</a>
                </div>
                <div>
                    <a class="btn btn-danger" asp-action="DeleteSchemaGroup" asp-route-schemaGroupId="@item.Id">Видалити</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
