@model IEnumerable<BaseballUa.ViewModels.ClubViewModel>

@{
    ViewData["Title"] = "List Clubs";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<p>
    <a asp-action="AddClub">Додати клуб</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invitation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FnameLogoSmall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FnameLogoBig)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invitation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FnameLogoSmall)
                <img src="~/images/club/logoSmall/@item.FnameLogoSmall" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FnameLogoBig)
                <img src="~/images/club/logoBig/@item.FnameLogoBig" />
                <a class="btn btn-warning m-1" asp-action="UpdateClubLogo" asp-route-clubId="@item.Id">Завантажити</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Id)
                <img src="~/images/country/flagBig/@item.Country.FnameFlagBig" />
            </td>
            <td>
                    <a class="btn btn-primary m-1" asp-action="ListTeams" asp-route-clubId="@item.Id">Список команд</a> |
                    <a class="btn btn-primary m-1" asp-action="ListStaffs" asp-route-clubId="@item.Id">Працівники</a>
                    <a class="btn btn-warning m-1" asp-action="EditClub" asp-route-clubId="@item.Id">Редагувати</a>
            </td>
        </tr>
}
    </tbody>
</table>
