@model IEnumerable<BaseballUa.ViewModels.PlayerViewModel>

@{
    ViewData["Title"] = "ListPlayers";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>ListPlayers</h1>

<p>
    <a class="btn btn-primary" asp-action="AddPlayer" asp-route-teamId="@ViewBag.team.Id">Додати гравця</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvatarSmall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvatarBig)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.AvatarSmall)*@
                <img src="~/images/player/avatarSmall/@item.AvatarSmall">
                <a class="btn btn-warning" asp-action="UpdatePlayerAvatar" asp-route-playerId="@item.Id">Поновити</a>
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.AvatarBig)*@
                <img src="~/images/player/avatarBig/@item.AvatarBig">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Id)
            </td>
            <td>
                <a class="btn btn-danger" asp-action="DeletePlayer" asp-route-playerId="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
