@model IEnumerable<BaseballUa.ViewModels.TournamentViewModel>

@{
    ViewData["Title"] = "List Tournament types";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>Типи змагань</h1>

<p>
    <a class="btn btn-primary" asp-action="CreateTournament">Створити новий вид</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAnual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInternational)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOfficial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAnual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInternational)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOfficial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.ShortName)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="EditTournament" asp-route-id="@item.Id">Редагувати</a>
            </td>
        </tr>
}
    </tbody>
</table>
