@*@model IEnumerable<BaseballUa.ViewModels.Custom.GameWithTeamsViewModel>*@
@model IEnumerable<BaseballUa.ViewModels.GameViewModel>

@{
    ViewData["Title"] = "ListGames";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>Список ігор для блока @ViewData["schemaGroupId"]</h1>

<p>
    <a asp-action="AddGame" asp-route-schemaGroupId="@ViewData["schemaGroupId"]">Додати нову ігру до цього блока турніру</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunsVisitor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunsHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HalfinningsPlayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointsVisitor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointsHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionVisitor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchemaGroupId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitorTeam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AdditionalInfo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.RunsVisitor)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.RunsHome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PlacedAt)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.HalfinningsPlayed)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.GameStatus)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PointsVisitor)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PointsHome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Tour)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ConditionVisitor)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ConditionHome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SchemaGroupId)
            </td>
            <td>
                    @{
                        if (item.HomeTeam != null)
                        {
                            <img src="~/images/team/logosmall/@item.HomeTeam.FnameLogoSmall" />
                            <div>
                                <label>@item.HomeTeam.Name</label>
                            </div>
                        }
                        else
                        {
                            <label> ??? </label>    
                        }
                    }

                    
            </td>
            <td>
                    @{
                        if(item.VisitorTeam != null)
                        {
                            <img src="~/images/team/logoSmall/@item.VisitorTeam.FnameLogoSmall" />
                            <div>
                                <label>@item.VisitorTeam.Name</label>
                            </div>
                        }
                        else
                        {
                            <label> ??? </label>
                        }
                    }
                    
            </td>
            <td>
                <a class="btn btn-warning" asp-action="EditGame" asp-route-gameId="@item.GameViewModelId">Редагувати</a>
                <a class="btn btn-primary" asp-action="ListGameResources" asp-route-gameId="@item.GameViewModelId">Альбоми Відео</a>
               @* <a asp-action="Edit" asp-route-id="@item.GameViewModelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GameViewModelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GameViewModelId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
