@using BaseballUa.ViewModels;
@model BaseballUa.ViewModels.Custom.ListNewsVM

@{
    ViewData["Title"] = "List news";

}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>


<div class="container-fluid pb-5">
    @if(Model != null && Model.EventSL != null)
    {
        <form asp-action="ListNews">
            @Html.AntiForgeryToken()
            <label>Показати новини для турніру:</label>
            <select name="eventId" class="dropdownlist" id="myid">
                <option>--- оберіть ---</option>
                @foreach (SelectListItem item in Model.EventSL)
                {
                    if (Model.EventSL.SelectedValue != null && item.Value == Model.EventSL.SelectedValue.ToString())
                    {
                        <option value="@(item.Value)" selected="selected">@item.Text</option>
                    }
                    else
                    {
                        <option value="@(item.Value)">@item.Text</option>
                    }
                }
            </select>
            <input type="submit" value="Шукати" class="btn btn-primary" />
        </form>
    }
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<h1>Новини</h1>
<p>
    @if(Model != null && Model.Team != null)
    {
        <h3>Для команди @Model.Team.Name</h3>
        <a class="btn btn-primary" asp-action="AddNews" asp-route-teamId="@Model.Team.Id">Додати новину до команди</a>
    }
    else if(Model != null && Model.Event != null)
    {
        <h3>Для турніру @Model.Event.Tournament.Name</h3>
        <a class="btn btn-primary" asp-action="AddNews" asp-route-eventId="@Model.Event.EventViewModelId">Додати новину до турніру</a>
    }
    else
    {
        <a class="btn btn-primary" asp-action="AddNews">Додати новину</a>
    }
</p>

@if (Model == null || Model.News == null || Model.News.Count == 0)
{
    <div class="row m-1">
        <h4>
            Пусто
        </h4>
    </div>
} 
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.News.First().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.News.First().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.News.First().SportType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.News.First().IsGeneral)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.News.First().PublishDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new EventViewModel().Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new TournamentViewModel().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new CategoryViewModel().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new TeamViewModel().Name)
                </th>
                <th>
                    Альбоми
                </th>
                <th>
                    Фотки у заголовку
                </th>
                <th>
                    Відео
                </th>
                <th>
                    Опубликувати
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.News)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SportType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsGeneral)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishDate)
                    </td>
                    <td>
                        @if(item.Event != null)
                        @Html.DisplayFor(modelItem => item.Event.Year)
                    </td>
                    <td>
                        @if(item.Event != null && item.Event.Tournament != null)
                        {
                            @Html.DisplayFor(modelItem => item.Event.Tournament.Name)
                        }
                    </td>
                    <td>
                        @if (item.Category != null)
                        {
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        }
                    </td>
                    <td>
                        @if (item.Team != null)
                        {
                            @Html.DisplayFor(modelItem => item.Team.Name)
                        }
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-primary m-1" asp-action="ListAlbums" asp-route-newsId="@item.Id">Подивитися</a>
                        </div>
                        <div>
                            <a class="btn btn-primary m-1" asp-action="AddAlbumToNews" asp-route-newsId="@item.Id">Додати</a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-primary m-1" asp-action="ListTitlePhotos" asp-route-newsId="@item.Id">Подивитися</a>
                        </div>
                        <div>
                            <a class="btn btn-primary m-1" asp-action="AddPhotosToNews" asp-route-newsId="@item.Id">Додати</a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-primary m-1" asp-action="ListVideos" asp-route-newsId="@item.Id">Подивитися</a>
                        </div>
                        <div>
                            <a class="btn btn-primary m-1" asp-action="AddVideoToNews" asp-route-newsId="@item.Id">Додати</a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-primary m-1" asp-action="PublishNews" asp-route-newsId="@item.Id">Зараз</a>
                        </div>
                        <div>
                            <a class="btn btn-primary m-1" asp-action="PublishNews" asp-route-newsId="@item.Id" asp-route-fordate="1">На дату</a>
                        </div>
                        <div>
                            <a class="btn btn-warning m-1" asp-action="EditNews" asp-route-newsId="@item.Id" asp-route-fordate="1">Редагувати</a>
                        </div>
                        <div>
                            <a class="btn btn-danger m-1" asp-action="DeleteNews" asp-route-newsId="@item.Id">Видалити</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <ul class="pagination pagination-lg m-3">
        @if (Model.SkipPrev != -1)
        {
            <li class="page-item">
                <a class="page-link" asp-route-skip="@Model.SkipPrev" asp-route-eventId="@Model.Event?.EventViewModelId">&laquo;</a>
                @*<a class="page-link" asp-route-skip="@Model.SkipPrev" asp-route-eventId="@Model.EventSL?.SelectedValue.ToString()">&laquo;</a>*@
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a href="#" class="page-link">&laquo;</a>
            </li>
        }

        @if (Model.SkipNext != -1)
        {
            <li class="page-item">
                <a class="page-link" asp-route-skip=@(Model.SkipNext) asp-route-eventId="@Model.Event?.EventViewModelId">&raquo;</a>
                @*<a class="page-link" asp-route-skip=@(Model.SkipNext) asp-route-eventId="@Model.EventSL?.SelectedValue.ToString()">&raquo;</a>*@
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a href="#" class="page-link">&raquo;</a>
            </li>
        }
    </ul>
}

