@model IEnumerable<BaseballUa.ViewModels.TeamViewModel>

@{
    ViewData["Title"] = "List Teams";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>Список команд клубу: </h1>
@ViewBag.Club.Name
<img src="~/images/club/logoBig/@ViewBag.Club.FnameLogoBig" />

<p>
    <a class="btn btn-primary" asp-action="AddTeam" asp-route-clubId="@ViewBag.Club.Id">Додати команду</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FnameLogoSmall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FnameLogoBig)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTemp)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="~/images/team/logoSmall/@item.FnameLogoSmall" />
                <a class="btn btn-warning" asp-action="UpdateTeamLogo" asp-route-teamId="@item.Id">Нове лого</a>
            </td>
            <td>
                <img src="~/images/team/logoBig/@item.FnameLogoBig" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTemp)
            </td>
            <td>
                <div class="m-1">
                    <a class="btn btn-primary" asp-action="ListPlayers" asp-route-teamId="@item.Id">Гравці</a>
                </div>
                <div class="m-1">
                    <a class="btn btn-primary" asp-action="ListNews" asp-route-teamId="@item.Id">Новини</a>
                </div>
                <div class="m-1">
                    <a class="btn btn-primary" asp-action="ListVideos" asp-route-teamId="@item.Id">Відео</a>
                </div>
                <div class="m-1">
                    <a class="btn btn-primary" asp-action="ListAlbums" asp-route-teamId="@item.Id">Альбоми</a>
                </div>
                <div class="m-1">
                    <a class="btn btn-warning" asp-action="EditTeam" asp-route-teamId="@item.Id">Редагувати</a>
                    <a class="btn btn-danger" asp-action="DeleteTeam" asp-route-teamId="@item.Id" title="Якщо нема ігор, альбомів, новин, відео, гравців">Видалити</a>
                </div>
                
            </td>
        </tr>
}
    </tbody>
</table>
