@model IEnumerable<BaseballUa.ViewModels.EventViewModel>

@{
    ViewData["Title"] = "List Tournaments";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>Список турнірів</h1>

<p>
    <a asp-action="CreateEvent">Створити новий турнір</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament.Category.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament.Sport)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tournament.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tournament.Category.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tournament.Sport)
            </td>
            <td>
                <a asp-action="EditEvent" asp-route-id="@item.EventViewModelId">Редагувати</a> |
                <a asp-action="DetailsEvent" asp-route-id="@item.EventViewModelId">Деталі</a> |
@*                <a asp-action="AddGame" asp-route-eventId="@item.EventViewModelId">Додати гру</a> |
                <a asp-action="AddSchemaItem" asp-route-eventId="@item.EventViewModelId">Додати блок у схему турніру</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
