@model IEnumerable<BaseballUa.ViewModels.TeamViewModel>

@{
    ViewData["Title"] = "List Teams";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>Список команд клубу: </h1>
@ViewBag.Club.Name
<img src="~/images/club/logoBig/@ViewBag.Club.FnameLogoBig" />

<p>
    <a asp-action="AddTeam" asp-route-clubId="@ViewBag.Club.Id">Додати команду</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FnameLogoSmall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FnameLogoBig)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTemp)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FnameLogoSmall)
                <img src="~/images/team/logoSmall/@item.FnameLogoSmall" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FnameLogoBig)
                <img src="~/images/team/logoBig/@item.FnameLogoBig" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTemp)
            </td>
            <td>
                <a asp-action="ListPlayers" asp-route-teamId="@item.Id">Подивитися гравців команди</a>
            </td>
        </tr>
}
    </tbody>
</table>
