@using BaseballUa.Data;
@using static BaseballUa.Data.Enums;
@model List<BaseballUa.ViewModels.EventViewModel>

@if (Model != null && Model.Count() > 0)
{
	foreach (var eventt in Model)
	{
		<div class="bg-info bg-opacity-50 me-1 mb-1 rounded-2" style="width: 30vh; height:12vh;">
			<a class="btn btn-outline-info p-1 text-white" style="width: 30vh; height:12vh;" asp-controller="Event" asp-action="DetailsEvent" asp-route-id="@eventt.EventViewModelId" title="@eventt.Tournament.Name">
				<div class="row">
					<div class="col-1 m-1">
						<img width="25" height="25" src="~/images/assets/tourSmall.png" />
					</div>
					<div class="col-1 m-1">
						<img width="25" height="25" src="~/images/sporttype/small/@(eventt.Tournament.Sport).png" />
					</div>
					<div class="col-1 m-1">
						<img width="25" height="25" src="~/images/category/small/@(eventt.Tournament.CategoryId).png" />
					</div>
					<div class="col-6 m-1">
						<h5 class="float-end">@eventt.StartDate?.ToString("dd-MM")</h5>
					</div>
				</div>
				<div class="row">
					<div class="col m-1">
						<h6 class="text-truncate">@eventt.Tournament.Name</h6>
					</div>
				</div>
			</a>
		</div>

	}
}
else
{
	<label>Нема поточних турнірів</label>
}

@*<a class="btn btn-info mb-1 d-inline-flex align-items-center" asp-controller="Home" asp-action="ShowLists" asp-route-listToShow="@ListToShow.Events">
	<img class="pe-1" width="25" src="~/images/assets/tourSmall.png" />
	<span class="text-white">ВСІ</span>
</a>*@