@using static BaseballUa.Data.Enums;
@model BaseballUa.ViewModels.Custom.MainIndexVM
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid text-warning homehead">
    <div class="mt-2 mb-0 p-0 ">
        @await Html.PartialAsync("_Filters", Model.ApplyFilters)
    </div>

    <ul class="nav nav-tabs mt-5" role="tablist">
        <li class="nav-item bg-primary bg-opacity-75" role="presentation">
            <a class="nav-link border-white link-light bg-gradient" data-bs-toggle="tab" href="#tabvideos" aria-selected="false" role="tab" tabindex="-1">
                <img class="pe-2" width="25" src="~/images/assets/videoSmall.png" />Останні відео
            </a>
        </li>
        <li class="nav-item bg-primary bg-opacity-75" role="presentation">
            <a class="nav-link active border-white link-light bg-gradient" data-bs-toggle="tab" href="#tabevents" aria-selected="true" role="tab">
                <img class="pe-2" width="25" src="~/images/assets/tourSmall.png" />Актуальні турніри
            </a>
        </li>
        <li class="nav-item bg-primary bg-opacity-75" role="presentation">
            <a class="nav-link border-white link-light" data-bs-toggle="tab" href="#tabalbums" aria-selected="false" role="tab">
                <img class="pe-2" width="25" src="~/images/assets/albumSmall.png" />Останні альбоми
            </a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content mt-1 bg-primary bg-opacity-50 rounded-2">

        <div class="tab-pane fade" id="tabvideos" role="tabpanel">
            <div class="d-flex flex-row flex-wrap p-3 m-0">
                @await Html.PartialAsync("_VideosBlockRow", Model.LastVideos)
                <a class="btn btn-info mb-1 d-inline-flex align-items-center" asp-controller="Home" asp-action="ShowLists" asp-route-listToShow="@ListToShow.Videos">
                    <img class="pe-1" width="25" src="~/images/assets/videoSmall.png" />
                    <span class="text-white">ВСІ</span>
                </a>
            </div>
        </div>

        <div class="tab-pane fade active show" id="tabevents" role="tabpanel">
            <div class="d-flex flex-row flex-wrap p-3 m-0">
                @await Html.PartialAsync("_EventsBlock2", Model.ActiveEvents)
                <a class="btn btn-info mb-1 d-inline-flex align-items-center" asp-controller="Home" asp-action="ShowLists" asp-route-listToShow="@ListToShow.Events">
                    <img class="pe-1" width="25" src="~/images/assets/tourSmall.png" />
                    <span class="text-white">ВСІ</span>
                </a>
            </div>
        </div>

        <div class="tab-pane fade" id="tabalbums" role="tabpanel">
            <div class="d-flex flex-row flex-wrap p-2 m-0">
                @await Html.PartialAsync("_AlbumsBlock2", Model.LastAlbums)
                <a class="btn btn-info mb-1 d-inline-flex align-items-center" asp-controller="Home" asp-action="ShowLists" asp-route-listToShow="@ListToShow.Albums">
                    <img class="pe-1" width="25" src="~/images/assets/albumSmall.png" />
                    <span class="text-white">ВСІ</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-opacity-0 text-white p-0 m-0 pe-3 pt-0">
    <div class="row justify-content-center pt-0 mt-0">
        <div class="col justify-content-center pt-0 mt-0">
            @await Html.PartialAsync("_NewsBlock6", Model.News)


            <ul class="pagination pagination-lg m-3">
                @if (Model.skipNewsPrev != -1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-route-skipNews="@Model.skipNewsPrev">&laquo;</a>
                    </li>
                    @*<a asp-route-skipNews="@Model.skipNewsPrev">Prev</a>*@
                }
                else
                {
                    <li class="page-item disabled">
                        <a href="#" class="page-link">&laquo;</a>
                    </li>
                }

                @if (Model.skipNewsNext != -1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-route-skipNews=@(Model.skipNewsNext)>&raquo;</a>
                    </li>
                  @*  <a asp-route-skipNews=@(Model.skipNewsNext)>Next</a>*@
                }
                else
                {
                    <li class="page-item disabled">
                        <a href="#" class="page-link">&raquo;</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>