@using BaseballUa.Data;
@model BaseballUa.ViewModels.NewsVM

<div class="row">
    <div class="col-4">
        <div class="row">
            @if (Model.Event != null && Model.EventId > 0)
            {
                @if (Model.Event.Tournament != null)
                {
                    <div class="col-3">
                        <h3>Турнір:</h3>
                    </div>
                    <div class="col-2">
                        <img  src="~/images/category/big/@(Model.Event.Tournament.CategoryId).png" />
                    </div>
                    <div class="col-2">
                        <img src="~/images/sporttype/big/@(Model.Event.Tournament.Sport).png" />
                    </div>

                    <div class="row">
                        <a class="btn btn-primary" asp-controller="Event" asp-action="DetailsEvent" asp-route-id="@Model.EventId">@Model.Event.Tournament.Name @Model.Event.Year</a>
                    </div>
                }
            }
        </div>
        <div class="row pt-5">
            @if (Model.Albums != null && Model.Albums.Count() > 0)
            {
                <h3>Альбоми новини:</h3>
                @foreach (var album in Model.Albums)
                {
                    @if (album.Photos != null && album.Photos.Count() > 0)
                    {
                        <div class="row">
                            <a asp-action="ShowAlbum" asp-route-newsId="@album.Id">
                                <img class="img-thumbnail" src="~/images/photo/small/@album.Id/@album.Photos.First().FnameSmall" />
                                <label>@album.Name</label>
                            </a>
                        </div>
                    }
                }
            }
        </div>
        <div class="row pt-5">
            @if (Model.Videos != null && Model.Videos.Count() > 0)
            {
                <h3>Відео новини:</h3>
                @foreach (var video in Model.Videos)
                {
                    <div class="row pt-1">
                        <a class="btn btn-danger" href="@video.Fname">
                            <label>@video.Name</label>
                        </a>
                    </div>
                }
            }
        </div>


    </div>
    <div class="col-8 bg-info">
        <div class="row">
            <div class="col">
                @if (Model.Photos != null && Model.Photos.Count() > 0)
                {
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="max-height:500px;">
                        <div class="carousel-indicators">
                            @for (var i = 0; i < Model.Photos.Count(); i++)
                            {
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i == 0 ? "active": "")" aria-current="true" aria-label="Slide 1"></button>
                            }
                        </div>
                        <div class="carousel-inner">
                            @for (int i = 0; i < Model.Photos.Count(); i++)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <img style="object-fit: scale-down; max-height:500px;" src="/images/photo/big/@Model.Photos[i].AlbumId/@Model.Photos[i].FnameBig" class="d-block w-100" alt="...">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <h2>@Model.Title</h2>
        </div>
        <div class="row">
            <h6>@Model.Description</h6>
        </div>
        <div class="row pt-4" id="albums">
            @if (Model.Albums != null && Model.Albums.Count() > 0)
            {
                <h4>Альбоми:</h4>
                @foreach (var album in Model.Albums)
                {
                    @if (album.Photos != null && album.Photos.Count() > 0)
                    {
                        <div class="col">
                            <a asp-action="ShowAlbum" asp-route-newsId="@album.Id">
                                <div class="row">
                                    <div class="col">
                                        <img class="img-thumbnail" src="~/images/photo/small/@album.Id/@album.Photos.First().FnameSmall" />
                                    </div>
                                </div>
                                <div class="row">
                                        <strong>@album.Name</strong>
                                </div>
                            </a>
                        </div>
                    }
                }
            }
        </div>
        <div class="row pt-4" id="videos">
            @if (Model.Videos != null && Model.Videos.Count() > 0)
            {
                <div class="col">
                    <h4>Відео:</h4>
                    @foreach (var video in Model.Videos)
                    {
                        <div class="row embed-responsive">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width='480' height='390' class="embed-responsive-item" src="@video.Fname.GetYouTubeEmbeded()" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="row pb-5">
                            <div class="col">
                                <a class="btn btn-danger">Дивитись @video.Name на YouTube</a>
                            </div>
                        </div>
                    
                    }
                </div>
            }
        </div>
    </div>
</div>