@using System.Web;
@model int


<a class="btn btn-warning me-1 @(ViewContext?.RouteData?.Values["Action"]?.ToString() == "DetailsEvent" ? "border border-2" : "")" asp-controller="Event" asp-action="DetailsEvent" asp-route-id="@Model">
    Інфо
</a>
<a class="btn btn-warning me-1 @(ViewContext?.RouteData?.Values["Action"]?.ToString() == "Schema" ? "border border-2" : "")" asp-controller="Event" asp-action="Schema" asp-route-id="@Model">
    Схема
</a>
<a class="btn btn-warning me-1 @(ViewContext?.RouteData?.Values["Action"]?.ToString() == "Schedule" ? "border border-2" : "")" asp-controller="Event" asp-action="Schedule" asp-route-id="@Model">
    Розклад
</a>
<a class="btn btn-warning me-3 @(ViewContext?.RouteData?.Values["Action"]?.ToString() == "Standing" ? "border border-2" : "")" asp-controller="Event" asp-action="Standing" asp-route-id="@Model">
    Результати
</a>

@*@{
    var fullURL = new Uri($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}");
    //var l1 = location.AbsolutePath;
    //var l2 = location.PathAndQuery;
    //var l3 = location.Query;

    var uriBuilder = new UriBuilder(fullURL);
    //var paramsURL = HttpUtility.ParseQueryString(uriBuilder.Query);
    //if (paramsURL.Get("ShowMenu") != null) paramsURL.Remove("ShowMenu");
    
}

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                @{
                    //paramsURL.Add("ShowMenu", "schema");
                    //uriBuilder.Query = paramsURL.ToString();
                    uriBuilder.Path = Url.Action("Schema", new { id = Model });
                    //paramsURL.Remove("ShowMenu");
                }
                <a class="nav-link" href="@uriBuilder.Uri">Схема змагань</a>
            </li>
            <li class="nav-item">
                @{
                    //paramsURL.Add("ShowMenu", "groups");
                    //uriBuilder.Query = paramsURL.ToString();
                    uriBuilder.Path = Url.Action("Schedule", new { id = Model });
                    //paramsURL.Remove("ShowMenu");
                }
                <a class="nav-link" href="@uriBuilder.Uri">Розклад ігр</a>
            </li>
            <li class="nav-item">
                @{
                    //paramsURL.Add("ShowMenu", "table");
                    //uriBuilder.Query = paramsURL.ToString();
                    //paramsURL.Remove("ShowMenu");
                    uriBuilder.Path = Url.Action("Standing", new { id = Model });
                }
                <a class="nav-link" href="@uriBuilder.Uri">Турнірна таблиця</a>
            </li>
        </ul>
    </div>
</nav>*@