@model BaseballUa.ViewModels.Custom.EventIndexVM

@{
    ViewData["Title"] = "Tournamets";
}

@await Html.PartialAsync("_Filters", Model.ApplyFilters);

<h1>Турніри за місяць</h1>
<hr />
<div class="row mb-5">
    <div class="col-4">
    </div>
    <div class="col-1 bg-primary">
        @*<p class="text-right">Минулий</p>*@
        <a asp-action="Index" asp-route-monthShift="@Html.DisplayName((Model.MonthShift - 1).ToString())" class="text-white">Минулий</a>
        
    </div>
    <div class="col-2 bg-info">
        <p class="text-center">@DateTime.Now.AddMonths(Model.MonthShift).ToString("MMMM")</p>
    </div>
    <div class="col-1 bg-primary">
        @*<p class="text-left">Наступний</p>*@
        <a asp-action="Index" asp-route-monthShift="@Html.DisplayName((Model.MonthShift + 1).ToString())" class="text-white">Наступний</a>
    </div>
    <div class="col-4">
    </div>

</div>

@if(Model.Events != null && Model.Events.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Events.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Events.First().Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Events.First().Sport)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Events.First().CategoryShortName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Events.First().StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Events.First().EndDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Events)
            {
                <tr>
                    <td>
                        @{
                            if (item.EndDate < DateTime.Now)
                            {
                                <div class="bg-secondary">finished</div>
                            }
                            else if (item.StartDate > DateTime.Now)
                            {
                                <div class="bg-info">upcoming</div>
                            }
                            else
                            {
                                <div class="bg-warning">runnig</div>
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sport)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryShortName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        <a asp-action="DetailsEvent" asp-route-id="@item.EventIndexViewModelId" asp-route-monthshift="@Model.MonthShift">Деталі</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <label>
        На цей місяць з такими фільтрами нема змагань
    </label>
}

