@using BaseballUa.ViewModels;
@using BaseballUa.ViewModels.Custom;
@model BaseballUa.ViewModels.Custom.EventStandingFull

@{
    ViewData["Title"] = "Turnament standing";
}

<div class="container-fluid text-white eventhead">
    @await Html.PartialAsync("_EventDetails", new EventWithNewsAndMedia{ Event = Model.Event,
    Albums = Model.Albums,
    Videos = Model.Videos,
    Games = Model.CurrentGames,
    News = Model.News })
</div>


@if (Model != null && Model.EventItemsStanding != null && Model.EventItemsStanding.Count > 0)
{
    <div class="container-fluid text-white m-0 p-3">
        @foreach (var schemaItem in Model.EventItemsStanding)
        {
            <div class="row bg-primary border border-1 border-white rounded-2 m-0 p-2 mt-3">
                <div class="col">
                    <h4>Етап: @schemaItem.EventItem.SchemaItem</h4>
                    @if(schemaItem.GroupStandings != null && schemaItem.GroupStandings.Count > 0)
                    {
                        @foreach (var group in schemaItem.GroupStandings)
                        {
                            <h6 class="mt-3">Група: @group.SchemaGroup.GroupName</h6>
                            <div class="row m-3 mt-0">
                                <div class="col">
                                    <table class="table text-light" style="font-family: monospace; font-size:18px">
                                        <thead>
                                            <tr>
                                                <th>Команда</th>
                                                <th>Wins</th>
                                                <th>Losses</th>
                                                <th>PCT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if(group.TeamStandings != null && group.TeamStandings.Count > 0)
                                            {
                                                @foreach (var team in group.TeamStandings)
                                                {
                                                    <tr class="align-baseline">
                                                        <td>
                                                            @team.Team.Name
                                                            <img src="~/images/team/logoSmall/@team.Team.FnameLogoSmall" />
                                                        </td>
                                                        <td>
                                                            @team.WinGames
                                                        </td>
                                                        <td>
                                                            @team.LooseGames
                                                        </td>
                                                        <td>
                                                            @team.PCT
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
}
