@using BaseballUa.ViewModels;
@using BaseballUa.ViewModels.Custom;
@model BaseballUa.ViewModels.Custom.EventStandingFull

@{
    ViewData["Title"] = "Standing";
}


@*@{
    var a = (List<EventSchemaItemViewModel>)ViewBag.Eventt.SchemaItems;
}*@
@*<div class="row">
    @await Html.PartialAsync("_EventDetails", new EventWithNewsAndMedia{ Event = Model.Event,
    Albums = a?.SelectMany(s => s.Groups)?.SelectMany(g => g.Games)?.SelectMany(g => g.Albums)?.ToList(),
    Videos = a?.SelectMany(s => s.Groups)?.SelectMany(g => g.Games)?.SelectMany(g => g.Videos)?.ToList(),
    News = ViewBag.Eventt.News
    }
    )
</div>*@
<div class="row">
    @await Html.PartialAsync("_EventDetails", new EventWithNewsAndMedia{ Event = Model.Event,
                                                                        Albums = Model.Albums,
                                                                        Videos = Model.Videos,
                                                                        News = Model.News
                                                                        }
    )
</div>

<div class="row">
    @await Html.PartialAsync("_EventMenu", Model.Event.EventViewModelId)
</div>



<div class="row mt-3">

    @{
        foreach (var schemaItem in Model.EventItemsStanding)
        {
            <div class="row mb-3">
                <h4>Блок турніру: @schemaItem.EventItem.Order Назва блоку: @schemaItem.EventItem.SchemaItem</h4>
                    @{
                        foreach (var group in schemaItem.GroupStandings)
                        {
                            <div class="row">
                                <div class="card text-white bg-primary mb-3" style="max-width: 50rem;">
                                    <div class="card-header">Група: @group.SchemaGroup.GroupName</div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col">
                                                    <strong>Команда</strong>
                                                </div>
                                                <div class="col">
                                                    <strong>Win</strong>
                                                </div>
                                                <div class="col">
                                                    <strong>Losses</strong>
                                                </div>
                                                <div class="col">
                                                    <strong>PCT</strong>
                                                </div>
                                            </div>
                                            @foreach (var team in group.TeamStandings)
                                            {
                                                <div class="row">
                                                    <div class="col">
                                                        @team.Team.Name
                                                        <img src="~/images/team/logoSmall/@team.Team.FnameLogoSmall" />                                        
                                                    </div>
                                                    <div class="col">
                                                        @team.WinGames
                                                    </div>
                                                    <div class="col">
                                                        @team.LooseGames
                                                    </div>
                                                    <div class="col">
                                                        @team.PCT
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
            </div>
        }
    }
</div>
